html, body {
  font-family: Tahoma, Arial, sans-serif;
  background:#333;
}

* {
	margin:  0;
	padding: 0;
}

a {
	color: #00A;
	text-decoration: none;
}

a:hover {
	color: #A00;
}

div#content {
  padding: 10px;
  background:#FFF;
}

#menu {
  background: #333;
  font-size:1.2em;
  color: #AAA;
}

img {
  border: 0;
}

#menu .item {
  padding: 0 10px 0 10px;
  display: inline;
  }

#menu .item a {
  color: #AAA;
	text-decoration: none;
  }

#menu .item a:hover {
  color: #FFF;
	text-decoration: none;
  }
  
p,cite,code,ul {
	padding-bottom: 1.2em;
}

h1 {
	font-size: 1.4em;
	margin-bottom: 4px;
}

code {
	border: 0px solid #CCC;
	border-left: 6px solid #39F;
	color: #555;
	background:#FFF;
	display: block;
	font: normal 1.1em;
	margin-bottom: 12px;
	padding: 8px 10px;
	white-space: pre;
}

cite {
	background: url(/images/quote.gif) no-repeat;
	color: #666;
	display: block;
	font: normal 1.3em;
	padding-left: 28px;
}

h1,h2,h3 {
	color: #06C;
	padding-top: 6px;
}

/* misc */
.clearer {
	clear: both;
}

/* footer */
#footer {
	color: #AAA;
	font-size: 0.9em;
	text-align: center;
	border-top: 1px solid #777;
	background: #444;
}

#footer a {
	text-decoration: none;
	color: #77F;
}

label {
    width: 120px;
    float: left;
    text-align: right;
    margin-right: 4px;
    display: block
  }

.date {
  font-size:0.9em;
  color:#AAA;
}

.edit_box {
  padding: 5px 0 5px 0;
  border: 1px solid #ABC;
  background: #DEF;
}

.scrap {
  padding: 5px;
  margin: 2px;
  border-bottom: 1px solid #ABC;
  background: #EEE;
}

.scrap .title {
  font-size: 1.2em;
  display: inline;
  color:#830;
}

.scrap a {
	border: 1px solid #888;
	padding: 0 2px 0 2px;
	background: #DDD;
}
